<div class="container">
    <h4>Login</h4>
    <br>
    <form id="login">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" id="username" class="form-control" type="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" id="password" class="form-control" type="password" placeholder="Enter Password">
        </div>
        <br/>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </form>
</div>