$def with (page)
$var css: static/css/bootstrap.min.css
$var js: static/js/bootstrap.min.js static/js/jquery-3.4.1.min.js static/js/register.js

<htm lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Learning python</title>

        $if self.css:
            $for style in self.css.split():
                <link rel="stylesheet" href="$style" />

    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Python</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                    </li>
                <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                  </ul>
                </div>
              </nav>
        </div>
        $:page
    </body>

    $if self.js:
        $for script in self.js.split():
            <script src="$script"></script>
</htm>